---
---

@import "{{ site.theme }}";
a {
	color:white;
	background-color:rgb(33, 103, 124);
}
body {
	color:rgb(240, 240, 240);
}
a:link {
	color:rgb(141, 94, 185);
}
a:link:visited {
	color:rgb(163, 143, 182);
}
a:link:hover {
	color:rgb(134, 59, 204);
}