---
---

@import "{{ site.theme }}";
a {
	color:white;
}
a:link {
	color:rgb(141, 94, 185);
}
a:link:visited {
	color:rgb(163, 143, 182);
}
a:link:hover {
	color:rgb(134, 59, 204);
}
body {
	color:white;
}
body:link {
	color:rgb(141, 94, 185);
}
body:link:visited {
	color:rgb(163, 143, 182);
}
body:link:hover {
	color:rgb(134, 59, 204);
}